/*
=============== 
Variables
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');
:root {
    /* dark shades of primary color*/
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-black: #222;
    --color-navbar-bg-1:#ffffff !important;
    --transition: all 0.6s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    --clr-red-dark: hsl(360, 67%, 44%);
    --font-family: 'Poppins', sans-serif;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
  }
  body{
      overflow-x: hidden;
      padding-top: 90px;
      margin: 0;
  }
  /* -----navbar------- */
  .navbar{
    background: var(--color-navbar-bg-1);
    box-shadow: var(--light-shadow);
    position: fixed;
    width: 100%;
    margin:0 auto;
    z-index: 10;
    left: 0;
    top: 0;
  }
  .navbar img{
      height: 80px;
      width: 80px;
  }
  .links{
      margin: auto;
  }
  .links .nav-item{
      padding: 12px;
  }
  .links .nav-link{
      color: #000 !important;
      font-size: 1.3rem;
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      font-weight: 600;
      font-family: var(--font-family);
  }
  .links .nav-link::after{
    display: block;
    content: '';
    width: 0;
    background: var(--clr-red-dark);
    height: 2px;
    opacity: 0;
    transition: var(--transition);
  }
  .links .nav-link:hover::after{
      opacity: 1;
      width: 100%;
  }
  .dropdown-menu{
      background: var(--color-navbar-bg-1);
      padding: 15px;
      margin-top: -5px;
  }
  .nav-item:hover .dropdown-menu{
      display: block;
  }
  .dropdown-item{
    font-size: 1.3em;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px dotted #000000 !important;
  }
  .dropdown-item:hover{
      background: var(--color-navbar-bg-1);
  }
  .dropdown-menu::before{
    display: block;
    content: '';
    width: 0;
    background: var(--clr-red-dark);
    height: 2px;
    opacity: 0;
    margin-top: -21px;
    transition: var(--transition);
  }
  @media screen and (max-width:414px) and (min-width:281px){
    .links .nav-link:hover::after{
        opacity: 0;
        width: 100%;
    }
    .nav-item:hover .dropdown-menu::before{
        width: 100%;
        opacity: 0;
    }
  }
  @media screen and (max-width:280px) and (min-width:1px){
    .links .nav-link:hover::after{
        opacity: 0;
        width: 100%;
    }
    .nav-item:hover .dropdown-menu::before{
        width: 100%;
        opacity: 0;
    }
  }
  @media screen and (max-width:800px) and (min-width:415px){
    .links .nav-link:hover::after{
        opacity: 0;
        width: 100%;
    }
    .nav-item:hover .dropdown-menu::before{
        width: 100%;
        opacity: 0;
    }
  }
  /* -----navbar end------- */

  /* ---------social-links-footer---- */
.social-links-footer{
    padding: 15px;
    background: rgba(63, 53, 65, 0.384);
}
.social-links-footer .social-links{
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family);
}
.social-links-footer .social-links h4{
    padding: 6px;
    letter-spacing: 1.5px;
}
.social-links-footer .social-links h5{
    font-size: 1em;
}
.social-links-footer .link a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}
.social-links-footer .social-media i{
    border-radius: 50%;
    border: 1px #ffffff transparent;
    padding: 8px;
    font-size: 1.1rem;
    transition: all .5s;
    cursor: pointer;
}
.social-links-footer .social-media i:hover{
    transform: translateY(-8px);
    color: rgb(233, 104, 19);
}
.footer{
    background: rgb(223, 170, 170);
    padding: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .text-dates{
    font-size: 1.2rem;
    font-family: var(--font-family);
    text-align: center;
    padding: 5px;
}
.footer .span-right{
    font-family: var(--font-family);
    padding: 5px;
    text-transform: capitalize;
}
/* ---------social-links-footer end---- */
/* ------------styling headteacher- comment------- */

.headteacher-text {
    font-family: var(--font-family);
    padding: 5px;
    margin-top: 0;
}
.headteacher-text h3{
    text-align: left;
    padding: 2px;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: capitalize;
}
.headteacher-text h4{
    text-align: left;
    text-transform: capitalize;
}
.headteacher-text p{
    padding: 7px;
}
.contact{
    padding: 9px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #000000 !important;
}
.contact i{
    color: deepskyblue !important;
    font-size: 1.6rem;
    cursor: pointer;
}
/* ------------styling headteacher- comment end------- */

/* ======
styling upwards icon
======== */
#up-icon{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 20px;
    background: deepskyblue !important;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 50%;
    cursor: pointer;
    animation: slide 2s infinite ease-in-out;
    border: 1px solid #ffffff !important;
}
@keyframes slide{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
        background: grey !important;
    }
    100%{
        transform: scale(1);
    }
}
.shows{
    display: none;
}
.shows.active{
    display: block;
}
/* ======
styling upwards icon
======== */

/* ========
.toggle
=========== */
.toggle{
    background: deepskyblue !important;
    animation: widens 2s infinite ease-in-out;
}
@keyframes widens{
    0%{
        transform: scale(1);
    }
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

/* ========
.toggle end
=========== */