/*
=============== 
Variables
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');
:root {
    /* dark shades of primary color*/
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-black: #222;
    --color-navbar-bg-1:#ffffff !important;
    --transition: all 0.6s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    --clr-red-dark: hsl(360, 67%, 44%);
    --font-family: 'Poppins', sans-serif;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
  }
  body{
      overflow-x: hidden;
      padding-top: 110px;
      margin: 0;
  }
  /* -----navbar------- */
  .navbar{
    background: var(--color-navbar-bg-1);
    box-shadow: var(--light-shadow);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
   

  }
  .navbar img{
      height: 80px;
      width: 80px;
  }
  .links{
      margin: auto;
  }
  
  .links .nav-item{
      padding: 12px;
  }
  .links .nav-link{
      color: #000 !important;
      font-size: 1.3rem;
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      font-weight: 600;
      font-family: var(--font-family);
  }
  .links .nav-link::after{
    display: block;
    content: '';
    width: 0;
    background: var(--clr-red-dark);
    height: 2px;
    opacity: 0;
    transition: var(--transition);
  }
  .links .nav-link:hover::after{
      opacity: 1;
      width: 100%;
  }
  .dropdown-menu{
      background: var(--color-navbar-bg-1);
      padding: 13px;
      margin-top: -5px;
  }
  .nav-item:hover .dropdown-menu{
      display: block;
  }
  .dropdown-item{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px dotted #000000 !important;
  }
  .dropdown-item:hover{
      background: var(--color-navbar-bg-1);
  }
  .dropdown-menu::before{
    display: block;
    content: '';
    width: 0;
    background: var(--clr-red-dark);
    height: 2px;
    opacity: 0;
    margin-top: -15px;
    transition: var(--transition);
  }
  @media screen and (max-width:414px) and (min-width:281px){
    .links .nav-link:hover::after{
        opacity: 0;
        width: 100%;
    }
    .nav-item:hover .dropdown-menu::before{
        width: 100%;
        opacity: 0;
    }
  }
  @media screen and (max-width:280px) and (min-width:1px){
    .links .nav-link:hover::after{
        opacity: 0;
        width: 100%;
    }
    .nav-item:hover .dropdown-menu::before{
        width: 100%;
        opacity: 0;
    }
  }
  @media screen and (max-width:800px) and (min-width:415px){
    .links .nav-link:hover::after{
        opacity: 0;
        width: 100%;
    }
    .nav-item:hover .dropdown-menu::before{
        width: 100%;
        opacity: 0;
    }
  }
  /* -----navbar end------- */
  /* -----------sliding text-------- */
.welcomig-container{
    width: 100%;
    height: 80vh;
    position: relative;
    background:linear-gradient(rgba(0,0,0,.34),rgba(0,0,0,.34)),url(../img/newyork.png);
    background-position: center;
    background-size: cover;
}
.slide-image{
    width: 100%;
    height: 100%;
}
.welcomig-container::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(124, 205, 243, 0.445);
    z-index: .5;
    border-radius: 10px;
}
.welcoming-text{
    text-align: center;
    position: relative;
    margin-top: 130px;
}
.welcoming-text h1{
    padding: 10px;
    font-size: 2rem;
    font-family: var(--font-family);
    color: #ffffff !important;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.welcoming-text p{
    padding: 10px;
    font-size: 1rem;
    color: #ffffff !important;
    font-family: var(--font-family);
    width: 80%;
    margin: auto;
}
.welcoming-text a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 20px;
    border: 1px #ffffff solid;
    cursor: pointer;
    transition: all .6s;
    color: #ffffff !important;
    z-index: 1;
    font-weight: 400;
    display: block;
    width: 15%;
    text-transform: capitalize;
    margin: auto;
}
.welcoming-text a:hover{
    background: deepskyblue;
}
/* ------styling animations------ */
/* ------styling animations end.------ */
.animate__animated{
    --animate-duration: 2.5s;
}
/* -----------sliding text end-------- */
/* -------styling facilities----------- */
.facilities{
    box-shadow: var(--dark-shadow);
    padding: 5px;
}
.icon{
    text-align: center;
    font-size: 2.4rem;
    padding: 8px;
    cursor: pointer;
    color: deepskyblue !important;
}
.facilities h2{
    text-align: center;
    color: #000 !important;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: 900;
    padding: 6px;
}
.facilities p {
    padding: 5px;
    font-family: var(--font-family);
    text-align: center;
}
/* -------styling facilities end----------- */
/* -----------designing anthem------ */
.anthem{
    padding: 10px;
    font-size: 1.3rem;
    font-family: var(--font-family);
}
.anthem h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: capitalize;
}
.anthem h5{
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: capitalize;
    text-align: center;
}
.stanza{
    margin-top: 5px;
    padding: 10px;
    box-shadow: var(--dark-shadow);
    transition: border .8s;
    cursor: pointer;
}
.stanza h6{
    padding: 20px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-align: center;
    font-family: var(--font-family);    
}

/* -----------designing anthem end------ */
/* ---------social-links-footer---- */
.social-links-footer{
    padding: 15px;
    background: rgba(63, 53, 65, 0.384);
}
.social-links-footer .social-links{
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family);
}
.social-links-footer .social-links h4{
    padding: 6px;
    letter-spacing: 1.5px;
}
.social-links-footer .social-links h5{
    font-size: 1em;
}
.social-links-footer .link a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}
.social-links-footer .social-media i{
    border-radius: 50%;
    border: 1px #ffffff transparent;
    padding: 8px;
    font-size: 1.1rem;
    transition: all .5s;
    cursor: pointer;
}
.social-links-footer .social-media i:hover{
    transform: translateY(-8px);
    color: rgb(233, 104, 19);
}
.footer{
    background: rgb(223, 170, 170);
    padding: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .text-dates{
    font-size: 1.2rem;
    font-family: var(--font-family);
    text-align: center;
    padding: 5px;
}
.footer .span-right{
    font-family: var(--font-family);
    padding: 5px;
    text-transform: capitalize;
}
/* ---------social-links-footer end---- */

/* ======
styling upwards icon
======== */
#up-icon{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 20px;
    background: deepskyblue !important;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 50%;
    cursor: pointer;
    animation: slide 2s infinite ease-in-out;
    border: 1px solid #ffffff !important;
}
@keyframes slide{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
        background: grey !important;
    }
    100%{
        transform: scale(1);
    }
}
.shows{
    display: none;
}
.shows.active{
    display: block;
}
/* ======
styling upwards icon
======== */

/* ========
.toggle
=========== */
.toggle{
    background: deepskyblue !important;
    animation: widens 2s infinite ease-in-out;
}
@keyframes widens{
    0%{
        transform: scale(1);
    }
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

/* ========
.toggle end
=========== */